<link rel="stylesheet" href="/modules/mediamanager/static/css/main.css">
<div class="main_ctn">
    <header class="top_header">
        <h2>Media Manager</h2>
        <button type="button" id="btn_addmedia">Add Media</button>
    </header>
    <main class="media_ctn">
        <div id="media_ctn">
        </div>
    </main>
</div>
<script src="/modules/mediamanager/static/js/main.js"></script>