<link rel="stylesheet" href="/modules/mediamanager/static/css/main.css">
<div class="main_ctn">
    <header class="top_header">
        <h2>Media Manager</h2>
        <button type="button">Add Media</button>
    </header>
    <main class="media_ctn">

    </main>
</div>
<input type="file" accept="*/image" style="display: none;" />
<script src="/modules/mediamanager/static/js/main.js"></script>