<nav>
    <a class="nav-item nav-link" id="home" href="/edit/logout">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
            <span class="navbar-toggler-icon">Logout</span>
        </button>
    </a>
    <ul>
        <li><a href="/modules/">Dashboard</a></li>
        <li><a href="/modules/mediamanager">Media Manager</a></li>
        <li><a href="/modules/productmanager">Product Manager</a></li>
    </ul>
</nav>