<link rel="stylesheet" href="/modules/productmanager/static/css/main.css">
<div class="main_ctn">
    <header class="top_header">
        <h2>Product Manager</h2>
        <button type="button">Add Product</button>
    </header>
    <main class="product_ctn">

    </main>
</div>
<script src="/modules/productmanager/static/js/main.js"></script>